@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
html,
body {
  height: 100%;
  font-family: "Moderustic", sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1440px;
}
header {
  display: flex;
  flex-direction: row;
  padding-top: 54px;
  padding-left: 134px;
  padding-bottom: 63px;
}
main {
  flex: 1 1 auto;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 41px;
}
h2 {
  color: rgba(18, 18, 18, 1);
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
}
h3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: rgba(18, 18, 18, 1);
}
h4 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  color: rgba(18, 18, 18, 1);
}
h5 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 46px;
  color: rgba(18, 18, 18, 1);
}
.logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #121212;
  margin-right: 418px;
}
.menu {
  margin-top: 17px;
  display: grid;
  grid-template-columns: 60px 93px 82px 70px 158px;
  column-gap: 30px;
  grid-template-rows: 34px;
  text-align: center;
}
.menu a {
  margin: 0 28px 0 0;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(18, 18, 18, 0.6);
  position: relative;
  transition: all 0.2s linear 0s;
}
.menu a:hover {
  padding-bottom: 5px;
  color: rgba(18, 18, 18, 1);
}
.menu a:hover::before {
  content: "";
  width: 16px;
  height: 2px;
  background: rgba(255, 106, 40, 1);
  position: absolute;
  top: 100%;
  left: 70%;
}
.menu a:last-child {
  border: 1px solid rgba(255, 106, 40, 1);
  color: rgba(255, 106, 40, 1);
  border-radius: 5px;
  max-width: 158px;
  max-height: 48px;
}
.menu a:last-child::before {
  display: none;
}
.first-block {
  margin-top: 48px;
  margin-left: 135px;
  margin-right: 135px;
  display: flex;
  flex-direction: column;
}

.txt {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: rgba(18, 18, 18, 0.6);
  max-width: 956px;
  margin-left: 107px;
}
.first-block .txt {
  margin-bottom: 42px;
}
.first-block__button {
  border-radius: 5px;
  background: rgba(255, 106, 40, 1);
  width: 194px;
  height: 52px;
  align-self: center;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 47px;
  perspective: 700px;
  transition: all 0.5s ease 0s;
}
.image-sub-block {
  width: 1170px;
  height: 643px;
  background: rgba(196, 196, 196, 1);
  margin-bottom: 111px;
  position: relative;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
}
.sub-block__frame {
  width: 419px;
  height: 148px;
  margin: 28px;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.76);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.sub-block__frame:last-child {
  align-self: flex-end;
  justify-self: flex-end;
  margin-left: 252px;
}
.frame__spTxt {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 44px;
  color: rgba(255, 106, 40, 1);
  margin-right: 16px;
  align-self: center;
  margin-left: 38px;
}
.frame__txt {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(18, 18, 18, 0.83);
  align-self: center;
}

.second-block {
  margin-left: 135px;
  margin-bottom: 100px;
}
.text {
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 40px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: rgba(18, 18, 18, 0.6);
  position: relative;
}
.text::before {
  content: "";
  width: 67px;
  height: 2px;
  background-color: rgba(255, 106, 40, 1);
  position: absolute;
  top: 50%;
  left: -84px;
}
.swiper-slide {
  width: 325px;
  height: 417px;
  max-width: 325px;
  margin-right: 72px;
}
.slide-image {
  width: 316px;
  height: 211px;
  background: rgba(196, 196, 196, 1);
  margin-bottom: 28px;
  border-radius: 5px;
}
.slide-content {
  position: relative;
}
.content-number {
  position: absolute;
  top: 10%;
  right: 4%;
  color: rgba(255, 106, 40, 0.7);
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
}
.content-text {
  margin-top: 24px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: rgba(18, 18, 18, 0.83);
  letter-spacing: 0%;
  align-items: center;
  text-align: justify;
}
.third-block__wrapper {
  background: rgba(248, 250, 251, 1);
}
.third-block {
  margin-left: 136px;
  padding-top: 56px;
  padding-bottom: 77px;
}
.third-block__content {
  display: flex;
  flex-direction: row;
}
.content__part {
  display: flex;
  flex-direction: column;
  width: 545px;
  height: 416px;
}
.content__part .content-text {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: justify;
}
.image {
  width: 545px;
  height: 416px;
  background: rgba(196, 196, 196, 1);
  border-radius: 5px;
  margin-right: 50px;
  -webkit-box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
}
.slogan {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: rgba(18, 18, 18, 0.6);
}
.content__nav {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.btn-prew {
  width: 60px;
  height: 55px;
  margin-right: 20px;
  font-size: 25px;
  background: rgba(255, 255, 255, 1);
  color: rgba(255, 106, 40, 1);
  border-radius: 5px;
}
.btn-next {
  width: 60px;
  height: 55px;
  font-size: 25px;
  background: rgba(255, 255, 255, 1);
  color: rgba(255, 106, 40, 1);
  border-radius: 5px;
}
.btn-next:hover,
.btn-prew:hover {
  background: rgba(255, 106, 40, 1);
  color: rgba(255, 255, 255, 1);
}
.fourth-block {
  margin-top: 84px;
  text-align: center;
  margin-bottom: 42px;
}
.fourth-block .text {
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 80px;
}
.fourth-block .text::before {
  content: "";
  width: 67px;
  height: 2px;
  background-color: rgba(255, 106, 40, 1);
  top: 50%;
  left: 37%;
}
.fourth-block .text::after {
  content: "";
  width: 67px;
  height: 2px;
  background-color: rgba(255, 106, 40, 1);
  position: absolute;
  top: 50%;
  right: 37%;
}
.fourth-block__content {
  display: flex;
  flex-direction: row;
  margin-left: 136px;
  text-align: left;
}
.content__part {
  width: 577px;
  height: 477px;
  display: flex;
}
.fourth-block__content .content__part {
  margin-right: 17px;
}
.fourth-block__content .content-text {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: justify;
  width: 531px;
}
.fourth-block .first-block__button {
  align-self: flex-start;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 190px;
  height: 152px;
}
.fourth-block__content .image {
  width: 578px;
  height: 477px;
  margin-bottom: 131px;
}
.first-block__button:hover {
  transform: perspective(360px) rotateX(45deg);
}
.first-block__button:active {
  background-color: rgb(255, 60, 0);
}
.fifth-block__wrapper {
  background: rgba(248, 250, 251, 1);
  display: flex;
  flex-direction: row;
}
.fifth-block {
  width: 50%;
  padding-top: 191px;
  padding-left: 134px;
}
.fifth-block__text {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 46px;
  margin-top: 72px;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 72px;
  margin-right: 63px;
  text-align: justify;
  width: 533px;
  height: 186px;
  text-align: justify;
}
.fifth-block__text::before {
  content: "";
  width: 312px;
  height: 3px;
  background: rgba(255, 106, 40, 1);
  position: absolute;
  bottom: -35%;
}
.fifth-block__form {
  width: 50%;
  padding-top: 42px;
}
form {
  width: 585px;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 173px;
  -webkit-box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 48px 26px -30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.formView {
  color: rgba(18, 18, 18, 0.83);
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 46px;
  margin-bottom: 4px;
  margin-left: 39px;
  margin-top: 60px;
}
input,
textarea {
  width: 510px;
  height: 100px;
  background: rgba(248, 250, 251, 1);
  margin: 0px 38px -25px 38px;
  color: rgba(18, 18, 18, 0.5);
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  padding: 31px 34px 31px 34px;
  resize: none;
}
.submit {
  margin-top: 58px;
  margin-right: 36px;
  align-self: flex-end;
}
footer {
  margin-left: 135px;
  margin-bottom: 84px;
  margin-top: 173px;
  display: flex;
  flex-direction: column;
}
.about {
  display: flex;
  flex-direction: row;
  margin-bottom: 140px;
}
.about__newsletter {
  width: 494px;
  margin-right: 117px;
  position: relative;
}
.newsletter__text {
  margin-top: 18px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: rgba(18, 18, 18, 0.5);
}
.about__newsletter input {
  margin: 0;
  margin-top: 38px;
}
.about__subscribe {
  display: flex;
  flex-direction: row;
  position: relative;
}
.about__subscribe .first-block__button {
  position: absolute;
  top: 45%;
  left: 68%;
  padding: 11px 24px;
  width: 138px;
  height: 52px;
}
.about__subscribe input {
  width: 494px;
  height: 78px;
}
.about__navigation {
  margin-right: 116px;
}
.about__page {
  margin-right: 123px;
}
.about__navigation,
.about__page,
.about__social {
  display: flex;
  flex-direction: column;
}
.about__navigation a,
.about__page a,
.about__social a {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: rgba(18, 18, 18, 0.5);
  margin-top: 12px;
}

.copyright {
  display: flex;
  flex-direction: row;
}
.copyright p {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: rgba(18, 18, 18, 0.5);
}

.copyright p:nth-child(1) {
  margin-right: 338px;
}
.copyright p:nth-child(2) {
  margin-right: 33px;
}

.newsletter__title:nth-child(1)::after {
  content: "";
  width: 130px;
  height: 2px;
  background-color: rgba(255, 106, 40, 1);
  position: absolute;
  top: 8%;
  right: 41%;
}
